html, body {
  height: 100%;
  width: 100%;
}

ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

li {
  display: inline;
  border: 1px solid red;
}
